* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 2vw;
  font-family: 'Lato', 'Roboto', sans-serif;
}

body {
  overflow: hidden;
  user-select: none;
}

section {
  text-align: center;
}

pre {
  text-align: left;
  margin: 0;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1;
}

.dark, .light {
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark {
  left: 0;
  top: 0;
}

.light {
  right: 0;
  top: 0;
}

.dark.full, .light.full {
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem calc(25% + 1rem);
}

.dark-header, .light-header {
  position: absolute;
  width: 50%;
  padding: 1rem;
  text-align: center;
  z-index: 100;
}

.dark-header {
  left: 0;
}

.light-header {
  right: 0;
}

.dark-header img, .light-header img {
  height: 10vw;
}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .1rem;
  z-index: 1000;
}

section[data-skip] {
  display: none !important;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table th, .table td {
  padding: .2rem .4rem;
  border: .01rem solid black;
  white-space: nowrap;
}

.slide-title, .slide-slido {
  background-color: #161616;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-slido {
  background-color: #002bfe;
}

.slide-title-wdi {
  position: absolute;
  top: 4.4vh;
  left: 6.5vh;
  width: 32.6vh;
}

.slide-title-sponsors {
  position: absolute;
  top: 3.2vh;
  right: 5.3vh;
  width: 75.3vh;
}

.slide-title-abstract {
  position: absolute;
  bottom: -8.9vh;
  right: -14.7vh;
  width: 55.3vh;
}

.slide-slido-wdi {
  position: absolute;
  bottom: 3.3vh;
  right: 4.4vh;
  width: 39vh;
}

.slide-slido-abstract {
  position: absolute;
  top: -31vh;
  left: -32vh;
  width: 70vh;
}

.slide-slido-bubble {
  position: absolute;
  top: 26vh;
  left: 50%;
  width: 121.2vh;
  transform: translateX(-50%);
}
